.pcont {
   width: 100%;
   height: 30%;
   position: fixed;
   top: 25%;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: bottom;
}
.popup {
   width: 40%;
   height: 70%;
   background-color: black;
   border: 7px solid white;
   display: none;
   color: white;
}

.evname {
   font-size: 4vh;
   text-align: center;
   margin: 2vh 2vh 2vh 2vh;
   text-decoration: underline;
}
.evopt {
   font-size: 2.5vh;
   text-align: center;
   margin: 1.5vh 1.5vh 1.5vh 1.5vh;
   cursor: pointer;
}
.evopt:hover {
   text-decoration: underline;
}
.evmes {
   font-size: 2vh;
   text-align: center;
   margin: 1.5vh 1.5vh 1.5vh 1.5vh;
}

.eventalert {
   height: 80%;
}


.shop {
   width: 100%;
   height: 100%;
   background-color: black;
   position: fixed;
   top: 0;
   left: 0;
   color: white;
   display: none;
}
.shoptitle {
   font-size: 7vh;
   text-align: center;
}

.shopoptcont {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
}
.shopopt {
   font-size: 5vh;
   text-align: center;
   transition: ease-in-out 0.2s;
   cursor: pointer;
   margin: 15px 15px 15px 15px;
}
.shopopt:hover {
   text-decoration: underline;
}

.shopmoney {
   font-size: 3vh;
   margin: 0 0 0 0;
   position: fixed;
   top: 40px;
   left: 40px;
}